// COLORS
$primary-color: #54577C;
$secondary-color: #54577C;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f5f3f5;

$dark-grey: #558B6E;

$dark-blue-text: #f79824; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
